header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #838E75;
    color: #fff;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* This ensures the logo takes up the center space */
    text-align: center;
    position: relative;
    top: auto;
    left: 10%;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #838E75;
    padding: 10px 20px;
    height: 60px;
    color: #fff;
  }

  nav ol {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: #838E75;
  }

  nav li{
    margin: 3em;
  }

  nav a{
    display: inline-block;
    text-decoration: none;
  }

  nav a:hover{
    font-size: 1.05em;
  }


  footer{
    align-items: center;
    padding: 1rem;
    background-color: #838E75;
    color: #fff;
}

footer ol{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  footer a{
    text-decoration: none;
    padding: 2em;
    color: rgb(210, 224, 207);
  }

  footer li{
    list-style-type: none;
    display: inline-block;
    padding: 0.8em;
  }


@media (min-width: 700px ) {

  footer ol{
    flex-direction: row;
  }

  footer li{
    flex-wrap: wrap;
  }

  
header{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

nav{
  overflow:hidden;
}

nav a{
  color: antiquewhite;
}

}





  /* ************Burgermenu*********** */

  .burger-menu {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 10px;
  }

  #burger-toggle {
    display: none;
  }

  @media (max-width: 700px) {

    .burger-menu {
      display: block;
    }
  
    nav ol {
      display: none;
      position: absolute;
      top: 50px;
      right: 0;
      background: #aebb9c; 
      width: 100%;
      z-index: 999;
    }

    nav a{
      color: antiquewhite;
      
    }
    nav a:hover{
      color: rgb(102, 102, 101);
    }

  

    #burger-toggle:checked + label + nav ol {
      display: block;
    }
  }
