* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #E5E0C4;
  }
  
 
.main {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
 
.img_text{
  position: relative;
  display: inline-block;
}

.img_text img{
  display: block;
  width: 100%;
}

.overlay_text{
  position: absolute;
  font-size: 2.5em;
  top: 37%;
  left: 25%;
  color: #eae5d7;
  background: rgba(0, 0, 0, 0.5);
  padding: 0 1em 0 1em;
}


.front-page{
  border: solid black 1px;
  border-radius: 10px;
  padding: 2em;
  margin: 2em;
}

.buttons_flex{
  display: flex;
  justify-content: space-around;
  margin: 2em;

}

.buttons_flex a{
  padding: 3em;
}

.buttons_flex a:hover{
  transform: scale(1.1);
}


.buttons_flex img{
  width: 80%;
}

.fun_flex{
  display: flex;
}

.fun_flex p{
  background-color: #838E75;
  border-radius: 8px;
  padding: 1em;
  margin: auto 2em 2em 2em;
}

@media (min-width:700px) {
  
  .img_text img{
    width: 130%;
   
  }

  .overlay_text{
    position: absolute;
    font-size: 2.5em;
    top: 37%;
    left: 45%;
    color: #eae5d7;
    background: rgba(0, 0, 0, 0.5);
    padding: 0 1em 0 1em;
  }



 
}